[Desktop Entry]
Name=Fileshare Applet
Comment=Applet for image sharing services like imgur.com
GenericName=Fileshare Applet
Categories=GNOME;Utility;
Exec=indicator-fileshare
Icon=/usr/local/share/indicator-fileshare/media/app_icon.png
Hidden=False
X-GNOME-Autostart-enabled=true
Type=Application
